.sort_button_container {
    margin:auto;
    width:40%;
}

.sort_button_container button {
    font-size:18px;
    font-weight:bold;
    color: #66FCF1;
    background-color:Transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    padding:30px;
}

.sort_button_container button:hover {
    color: #45A29E;
}

.sort_button_container select {
    font-size:18px;
    font-weight:bold;
    color:#66FCF1;
    background-color:Transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    padding:30px;
}

.sort_button_container select:hover {
    color: #45A29E;
}

.sort_button_container select option {
    background-color:#0B0C10;
}

.sort_button_container div {
    font-size:18px;
    font-weight:bold;
    color:#66FCF1;
    width:25%;
    float:left;
    padding:30px;
}