.sort_button_container {
    margin:auto;
    width:45%;
    display:flex;
    grid:auto auto auto auto;
    grid-gap:1.25em;
    padding:1.25em;
}

.sort_button_container button {
    font-size:1.125em;
    color: #66FCF1;
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    width:25%;
}

.sort_button_container button:hover {
    color: #45A29E;
}

.sort_button_container select {
    font-size:1.125em;
    color:#66FCF1;
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    width:25%;
}

.sort_button_container select:hover {
    color: #45A29E;
}

.sort_button_container select option {
    background-color:#0B0C10;
}

.sort_button_container div {
    font-size:1.125em;
    color:#66FCF1;
    width:25%;
}