.button_container {
    margin:auto;
    width:85%;
    display:flex;
    grid:auto auto auto auto;
    grid-gap:20px;
    padding:20px;
}

.button_container button {
    font-size:18px;
    font-weight:bold;
    color: #66FCF1;
    background-color:Transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    padding:20px;
    width:15%;
}

.button_container button:hover {
    color: #45A29E;
}

.button_container select {
    font-size:18px;
    font-weight:bold;
    color:#66FCF1;
    background-color:Transparent;
    background-repeat:no-repeat;
    border:none;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    padding:20px;
    width:20%
}

.button_container select:hover {
    color: #45A29E;
}

.button_container select option {
    background-color:#0B0C10;
}

.button_container div {
    font-size:18px;
    font-weight:bold;
    color:#66FCF1;
    width:15%;
    padding:20px;
}