.table_container {
    margin:auto;
    width:90%;
    height:65vh;
}

.default {
    height:1.5625em;
    width:1.5625em;
}

.source_node {
    background-color:white;
    height:1.5625em;
    width:1.5625em;
}

.target_node {
    background-color:black;
    height:1.5625em;
    width:1.5625em;
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #ff6c6c ;
      border-radius: 100%;
    }
  
    50% {
      background-color: #ffbbbb;
    }
  
    75% {
      transform: scale(1.2);
      background-color: #ff5959;
    }
  
    100% {
      transform: scale(1);
      background-color: #670009;
    }
}

.visited_node {
    height:1.5625em;
    width:1.5625em;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
    background-color: #c5c6c7;
    border-radius: 100%;
  }

  75% {
    transform: scale(1.2);
    background-color: #c5c6c7;
  }

  100% {
    transform: scale(1);
    background-color: #c5c6c7;
  }
}

.path_node {
    height:1.5625em;
    width:1.5625em;
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.wall_node {
    background-color:#da8d00;
    height:1.5625em;
    width:1.5625em;
}

.weak_wall_node {
    background-color:#b3b000;
    height:1.5625em;
    width:1.5625em;
}