.table_container {
    width:100%;
    padding: 100px
}

.default {
    background-color: grey;
    height:30px;
    width:30px;
}

.source_node {
    background-color: green;
    height:30px;
    width:30px;
}

.node_btn {
    padding:0px;
    height:100%;
    width:100%;
    border:none;
    background:none;
}

.target_node {
    background-color: red;
    height:30px;
    width:30px;
}

.visited_node {
    background-color:yellowgreen;
    height:30px;
    width:30px;
}

.path_node {
    background-color:purple;
    height:30px;
    width:30px;
}

.wall_node {
    background-color:black;
    height:30px;
    width:30px;
}