.table_container {
    width:100%;
    padding: 100px
}

.default {
    height:30px;
    width:30px;
}

.source_node {
    background-color: green;
    height:30px;
    width:30px;
}

.node_btn {
    padding:0px;
    height:100%;
    width:100%;
    border:none;
    background:none;
}

.target_node {
    background-color: red;
    height:30px;
    width:30px;
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #98ff98;
      border-radius: 100%;
    }
  
    50% {
      background-color: #b2f0ab;
    }
  
    75% {
      transform: scale(1.2);
      background-color: #c6e1bd;
    }
  
    100% {
      transform: scale(1);
      background-color: #c6e1bd;
    }
  }

.visited_node {
    height:30px;
    width:30px;
    animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path_node {
    background-color:purple;
    height:30px;
    width:30px;
}

.wall_node {
    background-color:black;
    height:30px;
    width:30px;
}

.weak_wall_node {
    background-color: blue;
    height:30px;
    width:30px;
    opacity: 0.5;
}